// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
	background: #6c3;
	background-color: #7D4;
}
.toolbar {
	padding: 8px;
	min-height: 20px;
}
.title {
	margin: auto;
	width: calc(100% - 100px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pv_logo {
	text-align: center;
}
.pv_loading {
	font-size: 1.25em;
	color: #444;
	font-weight: bold;
}
